h1{
    color: #df1544;
    background-color: #333630;
}
  
.paragraf{
    color: #df1544;
    font-size: 32px;
    border: 2px solid #000;
}

.paragraf2{
    border: inherit;
}

h2{
    color: inherit;
    font-size: initial;
}

.paragraf1{
    color: blue;
    border: 10px solid #df1544;
}

.span1{
    border: inherit;
}